@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*,::before,::after{ margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
iframe{ border: none;}
ul{ list-style: none; padding: 0;}
label{ display: inline-block;}

@font-face {
    font-family: kr;
    src: url(fonts/KrinkesDecor.woff2);
    font-display: swap;
}

html{
    font-size:12px;
    --fLato: "Lato", sans-serif;
    --fPlay: "Playfair Display", serif;
    scroll-behavior: smooth;

    --primaryColor:#393939;
    --secondaryColor:#d9bf8f;

    --headingBG:#eaeaea;
}


body{
    font: 16px var(--fLato)
}

.container{
    max-width: 1314px;
    margin: auto;
    padding: 0 1rem;
}

.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem; }
[class^="col-"]{ padding: 0 1rem; flex: 1 0 auto; }

.col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-5{ flex-basis: 41.66%; max-width: 41.66%; }
.col-6{ flex-basis: 50%; max-width: 50%; }
.col-7{ flex-basis: 58.33%; max-width: 58.33%; }
.col-8{ flex-basis: 66.66%; max-width: 66.66%; }
.col-9{ flex-basis: 75%; max-width: 75%; }
.col-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-11{ flex-basis: 91.66%; max-width: 91.66%; }
.col-12{ flex-basis: 100%; max-width: 100%;}

.flex{ display: flex;}
.align-center{ align-items: center;}
.justify-space-bet{ justify-content: space-between;}
.justify-center{ justify-content: center;}
.justify-right{ justify-content: right;}


.row-gap-16{row-gap: 16px;}
.img-resp{ max-width: 100%; height: auto;}




/* Top Head */
.top-head{ background: #f2f2f2; color: var(--primaryColor); padding: 15px 0; white-space: nowrap; }
.top-head a{ font-size: 1rem; color: inherit; display: inline-block; line-height: 18px; }
.top-head a:hover{color: var(--secondaryColor);}
.call span{ margin-right: 20px;}
.top-head li{ padding: 0 35px; text-transform: uppercase; }
.top-head li:not(:first-child){  border-left: 1px solid; }

/* Header */
.wrapper-2{color: #000; padding: 30px 0; }
.wrapper-2 h1{ font: 72px/1 kr, cursive; text-align: center;}
h1 a{ color: inherit;}

.menu{ background: #000; color: #000; font-size: 24px; border: none; background: none;  display: none;}
nav li{ margin: 0 4px;}
nav a{ font: italic 18px var(--fPlay); color: inherit; padding: 0 10px;}
nav a:hover{color: var(--secondaryColor);}



.currency{ background: #000; color: #fff; border: none; width: 90px; height: 35px; padding: 10px; margin-left: 47px; }

.social li{  margin: 0 6px;}
.social a{ display: block; color: var(--secondaryColor); width: 34px; line-height: 30px; border: 2px solid; text-align: center; border-radius: 50%;}
.social a:hover{color: var(--primaryColor);}

/* Banner */
.banner{  text-align: center; background: url(../images/bg-1.webp) no-repeat center top/cover #8a8683; padding: 140px 0 35px; color: #fff;}
.slides{ display: none; }
.slides.active{ display: block; }

.sale{ aspect-ratio: 1/1; padding: 30px; border: 1px solid; color: inherit; width: 260px; margin: auto; position: relative; }
.sale::before{ content: ''; position: absolute ; inset: 0; border: 2px solid #fff; margin: -9px; border-radius: 3px;}
.upto{ position: relative; }
.upto span{ background: #8a8683; padding: 0 13px; position: relative; z-index: 1;}
.upto::before{ content: ''; position: absolute; height: 1px; background: #fff; left: 0; width: 70%; transform: translateX(20%); top: 6px; }
.upto:after{ content: ''; position: absolute;  height: 1px; background: #fff; bottom: 6px; left: 0; right: 0; }
.sale p{ font-size: 20px; }
.sale h2{ color: #000; font-size: 60px; margin: 17px 0; }
.sale .off{ color: #000; font-size: 32px; margin-top: 10px; }
.banner .link{ display: inline-block; padding: 18px 20px; background: #f09d66; color: #fff; text-align: center; margin-top: 65px; font-size: 24px; font-weight: 700;}

.pager{margin: 115px 0px;}
.pager li{ margin: 0px 10px; }
.pager a{ display: block; width: 20px; height: 20px; background: #b2b2b2; transform: rotate(45deg); }
.pager a.active{ background: #000;}

/* Shopping Info */
.shoppingInfo{padding: 65px 0 35px; background: #fff;}

.featureList{display: flex;}
.features{ background: #d9bf8f; padding: 20px 15px; color: #fff; position: relative; white-space: nowrap; flex: 0 1 33.33%; max-width: 33.33%;}
.features span.fa{ font-size: 48px; margin-right: 15px;}
.features h3{ font-size: 28px; margin-bottom: 5px; line-height: 36px; text-transform: uppercase;}

.shipping{ margin-right: 50px;}
.returns{ background: #000; margin: 0 -20px; padding: 20px 55px;}
.support{ margin-left: 50px;}

.shipping::after{ content: ''; position: absolute; top: 0; bottom: 0; left: 100%; border: 50px solid; border-color: transparent transparent transparent #d9bf8f;  z-index: 1;}
.returns::before{ content: ''; position: absolute; top: 0; bottom: 0; right:100%; border: 50px solid; border-color: transparent transparent transparent #fff; transform: translateX(100%); }
.returns::after{ content: ''; position: absolute; top: 0; bottom: 0; left:100%; border: 50px solid; border-color: transparent #fff transparent transparent; z-index: 1; transform: translateX(-100%); }
.support::after{ content: ''; position: absolute; top: 0; bottom: 0; right:100%; border: 50px solid; border-color: transparent #d9bf8f transparent transparent ; z-index: 1;}


h2.heading{font: bold italic 30px var(--fPlay); text-align: center; position: relative; margin: 50px 0;}
h2.heading::before{ content: ''; position: absolute; top: 50%; height: 1px; left: 0; right: 0; background: #eaeaea; transform: translateY(-50%); }
h2.heading span{ position: relative; background: #fff; padding: 0 170px; }
h2.heading span::before{ content: ''; position: absolute; left: 60px; top: 50%; transform: translateY(-50%) rotate(45deg); display: block; width: 20px; height: 20px; background: #d9bf8f;}
h2.heading span::after{ content: ''; position: absolute; right: 60px; top: 50%; transform: translateY(-50%) rotate(45deg); display: block; width: 20px; height: 20px; background: #d9bf8f;}



.handpicked, .collection, .brand{padding: 30px 0px;}



/* handpicked */
.handpicked .s-handThum, .handpicked .l-handThum{overflow: hidden; position: relative;}
.handpicked .s-handThum img{width:100%; height: 400px;}
.handpicked .l-handThum img{width:100%; max-width:400px; height: 820px;}
.handpicked .s-handThum:first-child{margin: 0px 0px 15px 0px;}

.handTHum-overlay{display: none; position: absolute; inset: 0; text-align: center;}
.handTHum-overlay .plus{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #f09d66; font-size: 60px;}
.handTHum-overlay a{ width: 110px; line-height: 42px; background: #f09d66; color: #fff; display: inline-block; position: absolute; bottom: 60px; left: 50%; transform: translateX(-50%);}
:is(.s-handThum, .s-handThum):hover .handTHum-overlay{ display: block; cursor: pointer;}



/* collection */
.collection{background: #fff; }
.collection_thumb{ position: relative; text-align: center;}
.offer{ position: absolute; left: 15px; top: 15px; width: 60px; aspect-ratio: 1/1; border-radius: 50%; background:var(--secondaryColor); font-size: 23px; color: #fff; display: grid; place-items: center;}
.offer sup{ font-size: 50%;}
.collection_thumb a{ display: block; position: absolute; line-height: 44px; background: #000; color: #fff; left: 50%; bottom: 0; transform: translateX(-50%)}
.collection_thumb a::before{ content: ''; display: block; width: 44px; height: 44px; background: #000; position: absolute; right: 100%; top: 0; clip-path:polygon( 100% 0, 0 100%, 100% 100% ) }
.collection_thumb a::after{ content: ''; display: block; width: 44px; height: 44px; background: #000; position: absolute; left: 100%; top: 0; clip-path:polygon(0 0 ,0 100% ,100% 100% )}
.gy-17{ row-gap: 17px; }
.collection_thumb:hover a{ background: var(--secondaryColor); }
.collection_thumb:hover a::before{ background: var(--secondaryColor);}
.collection_thumb:hover a::after{ background: var(--secondaryColor);}


/* Our Brand */
.brand{text-align: center;}
.brand img{max-width:100%;}


/* Customer Says */
.reviews-block{background: var(--secondaryColor); padding:35px 0 55px 0; position: relative; margin: 0px;}

.reviews-block::before{content:''; position: absolute; width: 370px; height: 30px; background:#fff; top: 0; left: 50%; transform: translateX(-50%); clip-path: polygon(0 0, 50% 100%, 100% 0); display: block;}

.review-says{display: flex; align-items: flex-end;}
.review-says.text-right{text-align: right;}

.review-says p{color: #fff; font: italic 18px/30px var(--fLato);}
.review-says h3{font: 700 italic 30px var(--fPlay); margin: 60px 0 10px;}
.review-says small{color: #717e7e; font-weight: bold;}

.customer-img img{max-width: 100%; height: 350px;}


/* Footer */
.footer{background: #141414; border-bottom: solid 40px #000000; padding: 30px 0px 70px; color: #fff;}
.footer h3{font-size: 16px; margin: 40px 0; text-transform: uppercase;}
.footer_list li{margin: 10px 0; }
.footer_list a{font-size: 14px; display: inline-block; color: #737373; line-height: 20px;}
.footer_list a:hover{color: #fff;}

.footer_social{display: flex;}
.footer_social li{margin-right: 18px;}
.footer_social a{font-size: 24px; display: block; width: 50px; line-height:50px; background: #fff; color: #141414; border-radius: 50%; text-align: center;}


.footer form{ border: 1px solid #484848; padding: 3px; display: inline-block; }
.footer input{height: 33px; border: none; background: none; font-size: 12px; margin: 0 20px; width: 200px; color: #fff; }
.footer form button{ width: 101px; height: 33px; border: none; background: #323030; color: #fff;}
.footer input:focus{ outline: none;}
.footer input::placeholder{ color: #6a6a6a; }
.footer form:focus-within{ border-color: #fff; }

.divider{margin:60px 0; height:1px; background:#363636; position:relative;}
.divider::before{content:''; position:absolute; border:12px solid; border-color:#363636 transparent transparent; left:50%; transform:translateX(-50%);}

.footer p{margin: 10px 0; color: #363636;}
.payments{display: flex;}
.payments li{margin-right: 10px;}
.payments span{color: #363636;}

.top{text-align: right;}
.goToTop{width: 40px; transform: translateX(-100%); display: none; line-height: 40px; border: 5px; background: #090909; color: #fff; position: fixed; bottom: 50px;}


/* Responsive */
@media screen and (min-width:1000px){
    .customer-says{width: 70%;}
}


/* above tablet */
@media screen and (max-width:980px) {
    .col-t-4{flex-basis: 33.33%; max-width: 33.33%;}
    .col-t-6{flex-basis: 50%; max-width: 50%;}
    .col-t-12{flex-basis: 100%; max-width: 100%;}
    .col-t-hide{display: none;}

    h2.heading{margin: 25px 0px; font-size: 25px;}
    .shoppingInfo{padding: 30px 0px;}
    .shipping::after, .returns::before, .returns::after, .support::after{border-width: 33px;}
    .features{padding: 13px 40px;}
    .features span.fa{font-size: 20px; margin-right: 10px;}
    .features h3 {font-size: 15px; margin-bottom: 2px; line-height: 20px;}    
    .features p {font-size: 15px;}
    .returns {margin: 0 -38px;}


    .handpicked div:nth-child(2){order:-1;}
    .handpicked .s-handThum img{height: 218px;}
    .handpicked .l-handThum img{height: 450px;}

    .collection_thumb img{width: 100%;}
    .collection_thumb a{font-size: 14px;}

    .customer-img img{height: 200px;}
    .customer-says{width: 48%;}
    .review-says h3{margin: 20px 0px 10px; font-size: 20px;}
    .review-says p{font-size: 16px;}

    .divider{margin: 40px 0px;}
    .footer{padding: 30px 0px 10px;}
}

/* above Mobile */
@media screen and (max-width:767px){
    .col-m-4{flex-basis: 33.33%; max-width: 33.33%;}
    .col-m-6{flex-basis: 50%; max-width: 50%;}

    .top-head .call{margin-bottom: 15px;}
    .top-head a.call{display: block; text-align: center;}
    .top-head .call span{margin-right: 10px;}
    .top-head li{padding: 0px 10px;}
}

/* Phone */
@media screen and (max-width:460px)
{       
    .col-p-4{flex-basis: 33.33%; max-width: 33.33%;}
    .col-p-6{ flex-basis: 50%; max-width: 50%; }
    .col-p-12{ flex-basis: 100%; max-width: 100%; }

    .wrapper-2 h1{font-size: 40px;}
    .social, nav{display: none;}
    .menu{ display: inline-block;}

    .banner{ background: url(../images/m-bg-1.webp) no-repeat center center / cover;}

    .shoppingInfo{padding: 30px 0px 0px;}

    .featureList{flex-direction: column; row-gap:10px}
    .features{flex:0 1 100%; max-width: 100%; margin-left: 0; margin-right: 0; padding: 20px 15px; width: 100%;}
    .features::before,.features::after{ display: none; }
    .features span.fa{ margin-right: 30px; font-size: 35px;}
    .features h3 {font-size: 20px; margin-bottom: 2px; line-height: 30px;}



    h2.heading span{ padding: 0 30px;}
    h2.heading span::before{ left: 0;}
    h2.heading span::after{ right: 0;}

    .handpicked .l-handThum{margin-bottom: 15px;}
    .handpicked .s-handThum img{height: 170px;}

    .reviews-block::before{width: 200px; height: 20px;}
    .review-says.text-right{margin-top: 60px;}



    .footer h3{margin: 40px 0 15px;}
    .footer_list li {display: inline-block; position: relative;}
    .footer_list li::after{content: '|'; color: #737373;}
    .footer_list li:last-child::after{content: ''; color: #737373;}
    .footer_list a{margin: 0px 10px}

    .footer form{display: flex; justify-content: space-between;}
    /* .footer input{width: 198px;} */
}

/* Test */
/* .instagram-box {
    position: relative;
    background-color: var(--secondaryColor);
    overflow: hidden;
    
    width: 211px;
}
.instagram-box img {
    width: 100%;
}
.instagram-box img {
    display: block;
}

.instagram-box .overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--secondaryColor);
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(3) rotate(90deg);
}

.instagram-box .overlay i {
    font-size: 60px;
    color: var(--primaryColor);
}

.instagram-box:hover .overlay {
    opacity: .5;
    transition: .5s ease;
    transform: scale(1) rotate(0deg);
} */